<!DOCTYPE html>
<html lang="zh-CN">
  <%- partial('_partial/head') %>
  <body>
  <%- partial('_partial/header') %>
  <div class="main">
    <%- body %>
    <%- partial('_partial/footer') %>
  </div>
  <%- partial('_partial/jstail') %>
  </body>
</html>