  <!-- BEGIN PRE-FOOTER -->
    <div class="pre-footer">
      <div class="container">
        <div class="row">
          <!-- BEGIN BOTTOM ABOUT BLOCK -->
          <div class="col-md-4 col-sm-6 pre-footer-col">
            <h2><%- __("about") %></h2>
            <p><%- theme.about %></p>
          </div>
          <!-- END BOTTOM ABOUT BLOCK -->

          <!-- BEGIN BOTTOM CONTACTS -->
          <div class="col-md-4 col-sm-6 pre-footer-col">
            <h2><%- __("contact") %></h2>
            <address class="margin-bottom-40">
              <%= theme.address_1 %><br>
              <% if (theme.phone) { %>
              Phone: <%= theme.phone %><br>
              <% }%>
              <% if (theme.qq) { %>
                QQ:<a href="tencent://AddContact/?fromId=50&fromSubId=1&subcmd=all&uin=<%= theme.qq %>" target="class"><%= theme.qq %></a> <br>
              <% }%>
              Email: <a href="mailto:<%= theme.email %>"><%= theme.email %></a><br>
            </address>
          </div>
          <!-- END BOTTOM CONTACTS -->

	<% if (theme.twitter_widget_id){ %>
          <!-- BEGIN TWITTER BLOCK --> 
          <div class="col-md-4 col-sm-6 pre-footer-col">

	  <a data-tweet-limit="1" class="twitter-timeline"
	  href="https://twitter.com/<%= theme.twitter_username %>"
	  data-widget-id="<%= theme.twitter_widget_id %>">Tweets by @<%=
	  theme.twitter_username %></a>

          </div>
          <!-- END TWITTER BLOCK -->
	<% } %>
        </div>
      </div>
    </div>
    <!-- END PRE-FOOTER -->

    <!-- BEGIN FOOTER -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <!-- BEGIN COPYRIGHT -->
          <div class="col-md-6 col-sm-6 padding-top-10">
                  &copy; <%= date(new Date(), 'YYYY') %> <%= config.title %><br>
 <a href="javascript:;">Privacy Policy</a> | <a href="javascript:;">Terms of Service</a>
          </div>
          <!-- END COPYRIGHT -->
	  <%- partial('_partial/social') %>
        </div>
      </div>
    </div>
    <!-- END FOOTER -->
